Repository googleapis/java-iam, pull requests merged in 2022-09, with the labels that each got.

#423 feat: add v2 client
  .github/.OwlBot.yaml
  google-iam-policy/pom.xml
  google-iam-policy/src/main/java/com/google/iam/v2/PoliciesClient.java
  google-iam-policy/src/main/java/com/google/iam/v2/PoliciesSettings.java
  google-iam-policy/src/main/java/com/google/iam/v2/gapic_metadata.json
  google-iam-policy/src/main/java/com/google/iam/v2/package-info.java
  google-iam-policy/src/main/java/com/google/iam/v2/stub/GrpcPoliciesCallableFactory.java
  google-iam-policy/src/main/java/com/google/iam/v2/stub/GrpcPoliciesStub.java
  google-iam-policy/src/main/java/com/google/iam/v2/stub/HttpJsonPoliciesCallableFactory.java
  google-iam-policy/src/main/java/com/google/iam/v2/stub/HttpJsonPoliciesStub.java
  google-iam-policy/src/main/java/com/google/iam/v2/stub/PoliciesStub.java
  google-iam-policy/src/main/java/com/google/iam/v2/stub/PoliciesStubSettings.java
  google-iam-policy/src/test/java/com/google/iam/v2/MockPolicies.java
  google-iam-policy/src/test/java/com/google/iam/v2/MockPoliciesImpl.java
  google-iam-policy/src/test/java/com/google/iam/v2/PoliciesClientHttpJsonTest.java
  google-iam-policy/src/test/java/com/google/iam/v2/PoliciesClientTest.java
  grpc-google-iam-v2/pom.xml
  grpc-google-iam-v2/src/main/java/com/google/iam/v2/PoliciesGrpc.java
  pom.xml
  proto-google-iam-v2/clirr-ignored-differences.xml
  proto-google-iam-v2/pom.xml
  proto-google-iam-v2/src/main/java/com/google/iam/v2/CreatePolicyRequest.java
  proto-google-iam-v2/src/main/java/com/google/iam/v2/CreatePolicyRequestOrBuilder.java
  proto-google-iam-v2/src/main/java/com/google/iam/v2/DeletePolicyRequest.java
  proto-google-iam-v2/src/main/java/com/google/iam/v2/DeletePolicyRequestOrBuilder.java
  proto-google-iam-v2/src/main/java/com/google/iam/v2/DenyRule.java
  proto-google-iam-v2/src/main/java/com/google/iam/v2/DenyRuleOrBuilder.java
  proto-google-iam-v2/src/main/java/com/google/iam/v2/DenyRuleProto.java
  proto-google-iam-v2/src/main/java/com/google/iam/v2/GetPolicyRequest.java
  proto-google-iam-v2/src/main/java/com/google/iam/v2/GetPolicyRequestOrBuilder.java
  proto-google-iam-v2/src/main/java/com/google/iam/v2/ListApplicablePoliciesRequest.java
  proto-google-iam-v2/src/main/java/com/google/iam/v2/ListApplicablePoliciesRequestOrBuilder.java
  proto-google-iam-v2/src/main/java/com/google/iam/v2/ListApplicablePoliciesResponse.java
  proto-google-iam-v2/src/main/java/com/google/iam/v2/ListApplicablePoliciesResponseOrBuilder.java
  proto-google-iam-v2/src/main/java/com/google/iam/v2/ListPoliciesRequest.java
  proto-google-iam-v2/src/main/java/com/google/iam/v2/ListPoliciesRequestOrBuilder.java
  proto-google-iam-v2/src/main/java/com/google/iam/v2/ListPoliciesResponse.java
  proto-google-iam-v2/src/main/java/com/google/iam/v2/ListPoliciesResponseOrBuilder.java
  proto-google-iam-v2/src/main/java/com/google/iam/v2/Policy.java
  proto-google-iam-v2/src/main/java/com/google/iam/v2/PolicyOperationMetadata.java
  proto-google-iam-v2/src/main/java/com/google/iam/v2/PolicyOperationMetadataOrBuilder.java
  proto-google-iam-v2/src/main/java/com/google/iam/v2/PolicyOrBuilder.java
  proto-google-iam-v2/src/main/java/com/google/iam/v2/PolicyProto.java
  proto-google-iam-v2/src/main/java/com/google/iam/v2/PolicyRule.java
  proto-google-iam-v2/src/main/java/com/google/iam/v2/PolicyRuleOrBuilder.java
  proto-google-iam-v2/src/main/java/com/google/iam/v2/UpdatePolicyRequest.java
  proto-google-iam-v2/src/main/java/com/google/iam/v2/UpdatePolicyRequestOrBuilder.java
  proto-google-iam-v2/src/main/proto/google/iam/v2/deny.proto
  proto-google-iam-v2/src/main/proto/google/iam/v2/policy.proto
  versions.txt
Labels: automerge, api: iam, size: xl

#424 docs(samples): update package names to match v2
  samples/cloud-client/snippets/pom.xml
  samples/cloud-client/snippets/src/main/java/CreateDenyPolicy.java
  samples/cloud-client/snippets/src/main/java/DeleteDenyPolicy.java
  samples/cloud-client/snippets/src/main/java/GetDenyPolicy.java
  samples/cloud-client/snippets/src/main/java/ListDenyPolicies.java
  samples/cloud-client/snippets/src/main/java/UpdateDenyPolicy.java
  samples/cloud-client/snippets/src/test/java/DenyIT.java
Labels: api: iam, samples, size: s

#462 Revert "chore: pin versions of dependencies for compatibility with Python 3.6 (#1588)"
  .github/.OwlBot.lock.yaml
  renovate.json
Labels: automerge, api: iam, size: xs
